*.sqlite
.DS_Store

docs_text

donnees/.~lock.*

*.csv
*.jpg

__pycache__/
*.py[cod]
*$py.class

!manipuler_les_fichiers/donnees/etudiantes_universites_suisses_v2.csv
!statistiques_descriptives/data/hdv2003.csv
!statistiques_descriptives/data/observations_mod.csv

statistiques_descriptives/corrige_analyse_univariee_et_bivariee.ipynb


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# Jupyter Notebook

.ipynb_checkpoints
