*.sqlite
.DS_Store

docs_text

*/Untitled.ipynb

statistiques_descriptives/corrige_analyse_bivariee.ipynb
#statistiques_descriptives/corrige_analyse_univariee.ipynb
statistiques_descriptives/analyse_uni_bivariee_titanic.ipynb



donnees/.~lock.*

*.csv
*.jpg

__pycache__/
*.py[cod]
*$py.class

!manipuler_les_fichiers/donnees/etudiantes_universites_suisses_v3.csv
!manipuler_les_fichiers/donnees/etudiantes_universites_suisses_v2.csv
!statistiques_descriptives/data/hdv2003.csv
!statistiques_descriptives/data/observations_mod.csv


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# Jupyter Notebook

.ipynb_checkpoints
