*.sqlite
data/
.DS_Store

docs_text

donnees/.~lock.*

*.csv
*.jpg

__pycache__/
*.py[cod]
*$py.class

!statistiques_descriptives/data/hdv2003.csv
!manipuler_les_fichiers/donnees/etudiantes_universites_suisses_v2.csv

statistiques_descriptives/corrige_elements_statistiques_descriptives.ipynb

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# Jupyter Notebook

.ipynb_checkpoints
